* {
  box-sizing: border-box;
}

.App h1 {
  margin: 50px;
  text-align: center;
  color: dodgerblue;
}

.App code {
  background: rgb(242, 242, 242);
  border: 1px solid darkgrey;
  padding: 5px;
  font-size: 12px;
  margin: 0 0 10px 0;
  
}


