.Endpoint {
  border: 2px solid black;
  background-color: blanchedalmond;
  margin: 50px;
  padding: 30px;
}

.Endpoint h2 {
  text-decoration: underline;
}

.Endpoint table {
  border: 1px solid black;
  background-color: white;
}

.Endpoint table td,
.Endpoint table th {
  padding: 10px;
}
