.Endpoint {
  width: 80%;
  border: 1px solid dodgerblue;
  margin: 40px auto 40px auto;
  padding: 30px;
}

.Endpoint h2 {
  text-decoration: underline;
}

.Endpoint table {
  border: 1px solid black;
  background-color: white;
}

.Endpoint table td,
.Endpoint table th {
  padding: 10px;
  border: 1px solid lightgrey;
}

.Endpoint .testApiContainer {
  border: 1px solid black;
  margin-top: 20px;
  padding: 20px;
  background: blanchedalmond;
}

.Endpoint .pretty-json-container {
  max-height: 350px;
  min-height: 200px;
  overflow: scroll;
}

.Endpoint .exampleResponseContainer {
  max-width: 50%;
}
